<%- include('./include/_header') %>

    <div class="clear"></div>
<!-- MAIN -->
    <main>
        


        <div id="sec1_bg">
            <a href="/contacts/newOrder" class="btn new">새 주문 요청</a>

            <% contacts.forEach(contact => { %>
            <section id="sector1">
                <div id="title_box">

                        <h1><%= contact.name %>님,<br><%= contact.devicename %> 관련 주문 요청입니다.</h1>
                    </div>
    
                    <article id="status_box">
                        <div id="flexbox">
                            <div class="status one">
                                <div id="flexbox2">
    
                                    <div class="left_status one">
                                        <p class="current_status">케이스: <%= contact.casewhat %><p>
    
                                            <p class="main_title">기기명</p>
                                            <span class="subtitle"><%= contact.devicename %></span>
                
                                            <p class="main_title">상태</p>
                                            <span class="subtitle"><%= contact.sangtae %></span>
                
                                            <p class="main_title">주문자 정보</p>
                                            <span class="subtitle">
                                                <%= contact.name %> <br>
                                                <%= contact.phone %> <br>
                                                <%= contact.email %>
                                            </span>

                                </div>
                                <div class="left_status two">
                                    <img src="https://synologykct.synology.me/img/code.png" alt="code">
                                </div>

                            </div>


                            </table>

                        </div>
                        <div class="status two">
                            <a href="/contacts/<%= contact._id %>" class="btn update">주문 수정</a>
                            <form action="/contacts/<%= contact._id %>?_method=DELETE" method="POST" style="display: inline">
                                <input type="submit" class="btn" value="주문 철회">
                            </form>

                        </div>
                    </div>

                    
                </article>

            </section>
        </div>
        <% }); %>



    </main>
    <!-- /MAIN -->

    <%- include('./include/_footer') %>